
#playerInput{
  position:absolute;
  width:50px;
  height: 20px;
  left: 150px;
  top: 20px;
  display:none;
  z-index: 0;
}
#label{
  position: absolute;
  top: 18px;
  left: 20px;
  padding: 10px;
  height: 50px;
  width: 300px;
  display:none;
  color: red;
  font-size: 20px;
}
#nextGame{
  position: absolute;
  display: none;
  top: 400px;
  width: 300px;
  left: 725px;
  text-align: center;
  font-size: 30px;
  color: green;
  padding: 10px;
  padding-top:30px;
  height: 100px;
  background-color: white;
  border: 5px solid red;
  border-style: groove;
  z-index: 3;
}
#winModal{
  position: absolute;
  display: none;
  top: 300px;
  width: 300px;
  left: 720px;
  padding: 10px;
  height: 200px;
  background-color: white;
  border: 5px solid red;
  border-style: groove;
  border-radius: 15px;
  z-index: 3;
}
#insideWinModal{
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
#loseModal{
  position: absolute;
  display: none;
  top: 350px;
  width: 300px;
  left: 730px;
  padding: 10px;
  height: 100px;
  background-color: white;
  border: 5px solid red;
  border-style: groove;
  border-radius: 15px;
  z-index: 2;
}
#insideLoseModal{
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
#story{
  position: absolute;
  height: 300px;
  width: 400px;
  border: 20px solid red;
  border-style: groove;
  border-radius: 20px;
  display: none;
  background-color: white;
  left: 690px;
  top: 350px;
  z-index: 2;
}
#insideStory{
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
.clicktoExit{
  position: relative;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.board{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: orange;
  margin: 10px;
  padding-top: 10px;
  border: 5px solid red;
  border-radius: 10px;
  float: left;
  top: 350px;
  left: 680px;
  text-align: center;
  font-size: 20px;
  font-family: 'Nosifer', cursive;
}
#gameTitle{
  font-family: 'Nosifer', cursive;
  height: 100px;
  width: 100%;
  color:#F33107;
  position:relative;
  top: 50px;
  font-size: 50px;
  text-align: center;
}
body{
  background-color:#6D1A08;
}
#form{
  position: relative;
  display:block;
  height: 400px;
  width: 400px;
  left: 700px;
  top: 200px;
}
#submit{
  position: absolute;
  top: 120px;
  left: 150px;
  display:none;
}
#clueContainer{
  position:relative;
  top: -550px;
  left:-30px;
}
#start{
  position: absolute;
  height: 100px;
  width: 150px;
  background-color:#F33107;
  font-size: 15px;
  top: 600px;
  left: 850px;
  font-family: 'Nosifer', cursive;
  border: 0px;
  border-radius: 12px;
  /*Animation on hover*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;
  z-index: 1;
}
#start:hover,
#start:focus,
#start:active {
    transform: scale(1.1);
}
#images{
  position: relative;
  left: 200px;
  top: -200px;
  background-color: red;
  height: 500px;
  width: 1400px;
  z-index: 2;
  display: none;
}
.clues{
  position: absolute;
  display: none;
  left: 740px;
  top: 650px;
  background-color: white;
  border: 2px solid red;
  border-style:groove;
  width: 350px;
  height:30px;
  text-align: center;
  padding: 5px;
  padding-top: 20px;
}
#one{
  height: 500px;
  width: 500px;
  position: relative;
  left: -100px;
  top: 25px;
  margin: 10px;
  display: none;
  float:left;
  z-index: 2;
}
#two{
  height: 500px;
  width: 500px;
  position: relative;
  left: -50px;
  top: 0px;
  margin: 10px;
  display: none;
  float: left;
  z-index: 2;
}
#three{
  height: 500px;
  width: 500px;
  position: relative;
  left: 1000px;
  top:-450px;
  margin: 10px;
  z-index: 2;
  display: none;
}
#deadAnimal{
  position: absolute;
  left:300px;
  top:300px;
  height: 400px;
  width:400px;
}
#clueBtn{
  position: absolute;
  left: 890px;
  top: 620px;
}
#wrongX{
  position: absolute;
  color:red;
  padding: 20px;
  height:30px;
  width:150px;
  top: 450px;
  left: 800px;
  display:none;
}
